@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/deposits-view.css');
@import url('./views/suppliers_sheet/suppliers-view.css');
@import url('/views/suppliers_sheet/add-suppliers.css');
@import url('./views/customers-view.css'); 
@import url('./views/regions-view.css');
@import url('./views/visitors-view.css');  
@import url('./views/inbox-view.css'); 
@import url('./views/settings.css');
@import url('./views/homepage-view.css');

html {
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-font-family: poppins;
      --material-small-font-size : 8px;

    }


.header-text {
  color: rgb(0, 135, 193);
}
  .content-area {
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
    background-color: #fbfcff;
    padding:10px;

  }

  .footer-text {
    color:rgb(0, 85, 182);
  }